# Server
PORT=3000
NODE_ENV=development

# Postgres
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/zuji?schema=public"

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# JWT
JWT_SECRET=2uGSfAo3EUMsUDHDIZnN6SiDr5UNXHL7pdnIf7k+AHM=
JWT_EXPIRES_IN=30d

# WeChat MiniProgram
WX_APPID=wx03ff33cc4153d52d
WX_SECRET=81564bbd4cabe98a42af517c4d4ab1a5

# Tencent COS
COS_SECRET_ID=AKIDjRwDZjiT9dtvkSyGK9l9J9XjgPtCSJyV
COS_SECRET_KEY=NZZN1UlqlT0LRKyQehYEhx0sY1JPJyOZ
COS_BUCKET=footmark-cos-01-1258229922
COS_REGION=ap-shanghai
